* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, article, div {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

#topbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(110, 223, 95);
}

.menu{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 30px;
    padding: 5px 10px 5px 10px;
    background-color: white;
    border: 0.5px solid black;
}

#square-container{
    display: flex;
    flex-wrap:wrap;
    width: 1000px;
    justify-self: center;
}

#song-wrapper{
    width: 1000px;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

h1{
    align-self: center;
    padding-bottom: 30px;
}

.square{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    text-align: center;
    flex-shrink:0;    
}

#plus,#minus,#switch{
    cursor: pointer;
}

ul {
  list-style-type: none;
}
